{% extends "base.html" %}
{% block title %} G1B spletna stran {% endblock title %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h3>Zakaj spletna stran?</h3>
        <p>Ta spletna stran naj bi bila namenjena objavi slik, snovi in klepaetanju na forumu. To je za zdaj vse saj je spletna stran še v razvoju.</p>
        <p>Seveda veliko teh zmožnosti še ni na voljo, a se bom potrudil, da bom vstavil vse te opcije.</p><br>
        <h6>Miha Markovič, admin</h6>
    </div>
</div>
{% endblock content %}