{% extends "base.html" %}
{% block title %} G1B spletna stran {% endblock title %}

{% block content %}

<div class="container">
    <div class="jumbotron" id="main-page-jumbotron">
        <h1>Dobrodošli na uradni spletni strani razreda G1B Vegova 2017/18</h1>
        <button class="btn btn-info"><a href="/about" style="color: white;">Learn more</a></button>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class='col-md-offset-2 col-md-8 text-center'>
    <h2>Responsive Quote Carousel BS3</h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-offset-2 col-md-8'>
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#quote-carousel" data-slide-to="1"></li>
          <li data-target="#quote-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">

          <!-- Quote 1 -->
          <div class="item active">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="/assets/custom/images/suske.jpg" style="width: 100px;height:100px;">
                  <!--<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" style="width: 100px;height:100px;">-->
                </div>
                <div class="col-sm-9">
                  <p>PUBG player!</p>
                  <small>Nik Šuster</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 2 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="/assets/custom/images/stojcic.jpg" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>Razredni zapohanc</p>
                  <small>Dušan Stojčić</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 3 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="/assets/custom/images/wagner.jpg" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>Naš predsednik med obedom</p>
                  <small>Oliver Wagner</small>
                </div>
              </div>
            </blockquote>
          </div>
        </div>

        <!-- Carousel Buttons Next/Prev -->
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}